@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	margin: auto;
	height: 475px;
	width: 300px;
	box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	background: white;
}
body {
	font-family: Outfit, sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	color: hsl(220, 15%, 55%);
	background-color: hsl(212, 45%, 89%);
}
h2 {
	font-family: Outfit, sans-serif;
	font-weight: 700;
	text-align: center;
	color: hsl(218, 44%, 22%);
}
img {
	height: 300px;
	width: 300px;
	border-radius: 10px;
}
